@import url('./styles.css');

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: currentColor;
  margin: 0 0 0 0;
  display: block;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
.container {
  width: 1440px;
  margin: 0 auto;
  padding: 36px 0;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 36px;
  padding-bottom: 32px;
}

.input {
  width: 272px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #808080;

  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.64px;
  padding: 0;
  padding-left: 10px;
}
.input:focus {
  outline: none;
  border: 1px solid #4e75ff;
}
.input::placeholder {
  color: #808080;
}
.search-btn {
  width: 91px;
  height: 40px;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px #4e75ff;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
}
.search-btn:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-between;
  column-gap: 24px;
  row-gap: 24px;
  list-style-type: none;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
}

.gallery-image {
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  border-radius: 4px;
  object-fit: cover;
  overflow: hidden;
  box-shadow: 1px 2px 1px 0 #080808;
  transition: transform 300ms ease-in-out;
}

.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.1);
  box-shadow: 2px 2px 1px 0 #2f4f4f;
}

.gallery-description {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  padding-top: 20px;
}
.gallery-description-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
}
.discrp-item{
font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: #242424;
background-color: rgba(255, 255, 255, 0.87);
text-align: left;
}
.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button.is-hidden {
  display: none;
}
.next-btn {
  width: 150px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px #4e75ff;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  display: none;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}

.loader:before {
  animation: ball1 1s infinite;
  background-color: #fff200;
  box-shadow: 30px 0 0 #4e75ff;
  margin-bottom: 10px;
}

.loader:after {
  animation: ball2 1s infinite;
  background-color: #4e75ff;
  box-shadow: 30px 0 0 #fff200;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }

  50% {
    transform: rotate(360deg) scale(1.2);
  }

  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }

  50% {
    box-shadow: 0 0 0 #fff;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 #fff;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }

  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}
.hidden {
  display: none;
}